.span4 {
/*    background-color: DarkGrey; */
}

.span9 {
       
}
.center {
    text-align: center;
}

@font-face {
    font-family: 'MetaPro';
    src: url("/fonts/MetaPro-Normal.otf") format("opentype");
}

body{
/*    background-image:url(http://us.123rf.com/400wm/400/400/hannamariah/hannamariah1011/hannamariah101100006/8223819-truly-antique-leather-bound-books.jpg); */
/*     background-image:url(http://us.123rf.com/400wm/400/400/hannamariah/hannamariah1011/hannamariah101100006/8223819-cuero-verdaderamente-antiguo-habia-enlazado-libros.jpg); */
/*    background-image:url(/img/truly-antique-leather-bound-books.jpg); */
    /*      background-image:url(http://upload.wikimedia.org/wikipedia/commons/0/00/St_John's_College_Old_Library_interior.jpg); */
}

#Top {
    background: url(/gmp/img/the-path-of-olive-trees.jpg) 50% 0 repeat fixed; min-height: 1000px;
    height: 3500px;
    margin: 0 auto;
    width: 97%;
    max-width: 1920px;
    position: relative;
}

.effect1{
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 20px 20px -20px #777;
}

.effect2
{
    position: relative;
}
.effect2:before, .effect2:after
{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
.effect2:after
{
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}

.effect3
{
    position: relative;
}
.effect3:before, .effect3:after
{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 25px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    -webkit-box-shadow: 0 35px 20px #777;
    -moz-box-shadow: 0 35px 20px #777;
    box-shadow: 0 35px 20px #777;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    transform: rotate(-8deg);
}
.effect3:after
{
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    transform: rotate(8deg);
    right: 10px;
    left: auto;
}

.effect4
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect4:before, .effect4:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect4:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
}

.effect5
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect5:before, .effect5:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect5:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
}


.carousel{
    background-color: #eeeeee; /* Old browsers */
    background-color: rgba(222,222,222,1);
    min-height: 250px;
    border-radius: 15px;
    
}
.car_menu{
    background-color: #eeeeee; /* Old browsers */
    background-color: rgba(222,222,222,1);
    min-height: 100px;
    border-radius: 15px;
}

#ServicesCarousel{
    min-height: 250px;
}
#ProjectsCarousel{
    min-height: 400px;
}
#PeopleCarousel .span6{
    vertical-align:bottom;
    min-height: 380px;
}
.nav-list{
    border-radius: 15px;
}
.nav-header2{
    font-family: "MetaPro"", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    min-height: 80px;
}
.nav-header2 li{
    margin-top: 30px;
}
.sticky {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 30px;
}

/*
.services_menu li a{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #333;
}
*/

h2{
    color: rgb(216,216,216);
/*    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}
.car_menu li{
    margin-top: 5px;
}
.nav-list li a{
    background-color: rgba(222,222,222,1);
    color:rgba(50, 50, 50, 1);
    border-radius: 15px;
}
.nav-list .active a{
    background-color: rgba(200,200,200,1);
}

h1{
    font-family: 'MetaPro';
    margin-left: 10px;
    color:rgba(50, 50, 50, 1);
}
h2{
    font-family: 'MetaPro';
    margin-left: 60px;
}
.img-header{
    margin-left: -10px;
    margin-top: 3px;
}
#header-navbar{
    margin-bottom: 0px;
}
.car_menu li a{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #333;
}
h4{
    margin-left: 50px;   
}

.contacts{
    background-color: #eeeeee; /* Old browsers */
    background-color: rgba(222, 222, 222, 1);   
    min-height: 700px;
    border-radius: 15px;
}